	body {
		margin-top: 0px;
	}
	.wrapper {
		margin-left: auto;
		margin-right: auto;
		min-height: 800px;
	}
	.search {
		margin-top: 7px;
		float: right;
	}
	.search-box {
		border:1px solid #ffffff;
		border-radius: 5px;
		padding: 3px;
		height: 15px;
		width: 200px;
		margin-right: 40px;
		-moz-box-shadow: inset 0 0 5px 5px #d6d6d6;
		-webkit-box-shadow: inset 0 0 5px 5px #d6d6d6;
		-o-box-shadow: inset 0 0 5px 5px #d6d6d6;
		box-shadow: inset 0 0 5px 5px #d6d6d6;
		background-repeat: no-repeat;
		background-position: right;
		float: right;
	}
	.logo {
		font-family: "verdana";
		font-size: 18px;
		margin-left: 40px;
		margin-top: 6px;
		float: left;
		color: #f6f6f6;
		width: 310px;
		font-weight: 700;
	}
	.nav {
		position: fixed;
		width: 100%;
		height: 38px;
		background: #242424;
		color: #ffffff;
	}
	.topmenu {
		margin-left: 170px;
		width: 400px;
		margin-top: 10px;
		float: left;
		font-family: "verdana";
		font-size: 10pt;
		font-weight: 400;
		color: #ededed;
	}
	.featured {
		border-left: 1px solid;
		border-right: 1px solid;
		border-color: #e1dddd;
		padding: 17px 35px 0px 35px;
	}
	.middle {
		float: left;
		background-color: #efefef;
		overflow: auto;
		border-left: 1px solid;
		border-right: 1px solid;
		border-color: #e1dddd;
	}
	.left-middle {
		width:470px;
		padding: 18px 0 18px 35px;
		float: left;
		margin-right: 20px
	}
	.right-middle {
		width: 430px;
		padding: 18px 0px 18px 0;
		margin-left: 515px;
		margin-right: 35px;	
	}
	.bottom {
		background-color: #242627;
		min-height: 100px;
		padding: 20px 0px 20px 0px;
		overflow: auto;
		color: #ffffff;
	}
	.center-bottom {
		width: 22%;
		float: left;
		margin-left: 15px;
	}
	.right-bottom {
		position: relative;
		float: right;
		width: 22%;
		margin-right: 35px;
		text-align: right;
	}
	.title-rb {
		font-family: "verdana";
		font-size: 16pt;
		color: #f5802a;
		font-style: italic;
		padding-bottom: 10px;
	}
	.content-rb {
		font-family: "verdana";
		color: #9390e1;
	}
	.pl {
		float: left;
		font-size: 14px;
		font-family: "verdana";
		margin-right: 5px;
		margin-top: 3px;
	}
	.small {
		width: 14px;
		height: 14px;
		vertical-align: text-top;
	}
	.title-featured {
		background-color: #4f598d;
		margin-bottom: 10px;
		padding: 5px;
		border:1px solid white;
		color: white;
	}
	.content-featured {
		margin-top: 15px;
		-moz-column-count:4;
		-webkit-column-count:4;
		-o-column-count:4;
		column-count: 4;
		-moz-column-gap:20px;
		-webkit-column-gap:20px;
		-o-column-gap:20px;
		column-gap: 20px;
	}
	p {
		font-family: "Trebunchet";
		font-size: 11pt;
		padding: 0;
	}
	.left p {
		text-align: left;
	}
	.figure-featured {
		margin-bottom: 10px;
		border:1px solid #727272;
		width: 298px;
	}
	.lines {
		border-top: 1pt dashed #b3b3b3;
	}
	.figure {
		margin-top: 10px;
		margin-bottom: 10px;
		width: 460px;
	}
	.dotted {
		padding: 10px 0 10px 0;
		border-top: 1pt dotted;
		border-color: #b3b3b3;
	}
	.icon-social {
		padding: 10px;
	}
	.know {
		color: #e8863c;
	}
	.title-cb {
		font-family: "verdana";
		font-size: 16pt;
		color: #f5802a;
		font-style: italic;
		padding-bottom: 10px;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 1px;
	}
	li {
		font-family: "verdana";
		color: #9390e1;
		border-bottom: 1px solid #59666d;
		padding: 3pt 0 3pt 0;
	}
	.justify {
		text-align: justify;
	}
	.figure-latest {
		width: 420px;
	}
	.content-latest {
		text-align: justify;
	}
	.previous-news {
		margin-right: 40px;
		padding-top: 20px;
		float: right;
		width: 300px;
	}
	.title-previous {
		margin-bottom: 20px;
		display: block;
		background-color: #4f598d;
		color: #ffffff;
		padding: 5px 10px 5px 10px;
	}
	.more {
		float: right;
		font-size: 12pt;
		color: #f1e526;
		text-decoration: underline;
	}
	.content-previous {
		font-size: 11pt;
		font-weight: 600;
		padding-bottom: 5px;
		border-bottom: 1px dotted;
		border-color: #000000;
		padding-top: 0;
		line-height: 13pt;
		margin-top: -10px;
	}
	.download {
		display: block;
		background-color: gray;
		min-height: 300px;
		overflow: auto;
		padding: 5px 10px 0px 10px;
		margin-bottom: 15px;
	}
	.title-scientific {
		color: #ffffff;
		border-bottom: 1px dotted;
		border-color: #fbfdff;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}
	.content-block {
		width: 85%;
		float: left;
	}
	.download-block {
		width: 10%;
		float: right;
		line-height: 9px;
		margin: 0;
		padding: 0;
	}
	.content-scientific {
		font-size: 11pt;
		padding: 0;
		margin: 10px 0 0px 0;
		line-height: 13pt;
		font-weight: 600;
		color: #ebf94f;
	}
	.author-scientific {
		font-size: 9pt;
		padding: 0;
		margin: 0px 0 13px 0;
		line-height: 10pt;
		color: #ffffff;
	}
	.af {
		width: 10px;
		height: 10px;
	}
	.bottom {
		margin-top: 1010px;
	}
	.left-bottom {
		width: 300px;
		text-align: center;
		color: #797172;
		font-family: "verdana";
		font-size: 18pt;
		font-style: italic;
		font-weight: 600;
		padding: 0 100px 0 100px;
		line-height: 22pt;
		float: left;
	}
	h1,h2,h3,h4 {
		margin: 0;
		font-family: "Microsoft Sans Serif";
	}
	h1 {
		font-size: 18px;
	}
	h2 {
		font-size: 16px;
	}
	h3{
		font-size: 14px;
		font-weight: 600;
		padding-top: 5pt;
		line-height: 16pt;
	}
	h4 {
		font-size: 12pt;
		color: #6176e1;
		padding-bottom: 0;
	}